.wy-menu-vertical li ul.subnav ul.subnav {
  padding-left: 0;
}
.wy-menu-vertical li ul.subnav ul.subnav li a {
  padding-left: 2.42em;
}
ul.subnav li a.toctree-l4 {
  padding-left: 3.42em !important;
}